{% load static %}
<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{% block titulo %}{% endblock %}</title>
        <link rel="stylesheet" media="screen, print" href="{% static 'proyecto/css/vendors.bundle.css' %}">
        <link rel="stylesheet" media="screen, print" href="{% static 'proyecto/css/app.bundle.css' %}">
        <link rel="stylesheet" media="screen, print" href="{% static 'proyecto/css/skins/skin-master.css' %}">
        <link rel="stylesheet" media="screen, print" href="{% static 'proyecto/css/custom-theme-overrides.css' %}">
        {% block styles %}{% endblock %}
    </head>
    <body class="mod-bg-1 mod-nav-link">
        {% block content %}{% endblock %}
        <script src="{% static 'proyecto/js/vendors.bundle.js' %}"></script>
        <script src="{% static 'proyecto/js/app.bundle.js' %}"></script>
        <script src="{% static 'proyecto/js/miscellaneous/tables/initializeDataTables.js' %}"></script>
        <script src="{% static 'proyecto/js/miscellaneous/preferences/themeBasedOnPreference.js' %}"></script>
        {% block scripts %}{% endblock %}
    </body>
</html>
